# application
LOG_FILE=./trackr.log
POLL_LOGS=./polls.log
ADMIN_NAME=trackr_admin
ADMIN_API_KEY=thisisanapikey

# postgres
DB_HOST=db_host
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_pass
DB_NAME=db_name

# goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://db_user:db_pass@db_host:5432/db_name
GOOSE_MIGRATION_DIR=./postgresql/schema/

# firebase
SERVICE_ACCOUNT_PATH=./service-account-config.json

TICK_INTERVAL_DEV=5
TICK_INTERVAL_PROD=300

DEVELOPMENT=true
